<h3>Login</h3>
<hr>
<form>
   
    <div class=" form-floating mb-3">
      
      <input type="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="E-mail">
      <label for="emailField"> E-mail</label>
     
    </div>
    <div class="form-floating mb-3">
      
      <input type="password" class="form-control" id="passwdField" placeholder="Password">
      <label for="passwdField"> Jelszó</label>
    </div>
    
    <button type="submit" class="btn btn-primary" id="LogBtn" onclick="login()">Belépés</button>
  </form>