<h3>Profil</h3>
<hr>
<div id="messageBox"></div>

<div class="container" >
    <div class="row">
        <div class="col col-6">
            <h5>Alapadatok</h5>
            <div class=" form-floating mb-3" >
          
                <input type="text" class="form-control" id="NewNamefield" aria-describedby="emailHelp" placeholder="Name" onclick="getProfile()">
                <label for="Namefield" > Név</label>
               
            </div>
            <div class=" form-floating mb-3">
              
              <input type="email" class="form-control" id="NewemailField" aria-describedby="emailHelp" placeholder="E-mail">
              <label for="NewemailField"> E-mail</label>
             
            </div>
            <button type="submit" class="btn btn-primary" id="Changenames" onclick="updateProfile()">Módosítás</button>
        </div>
        <div class="col col-6">
            <h5>jelszó módosítás</h5>
            <div class="form-floating mb-3">
          
                <input type="password" class="form-control" id="oldpasswdField" placeholder="Password">
                <label for="oldpasswdField"> Jelenlegi Jelszó</label>
            </div>
            <div class="form-floating mb-3">
          
                <input type="password" class="form-control" id="newpasswdField" placeholder="Password">
                <label for="newpasswdField">Új jelszó</label>
            </div>
            <div class="form-floating mb-3">
          
                <input type="password" class="form-control" id="newconfpasswdField" placeholder="Password">
                <label for="newpasswdField"> Új jelszó megerősítése</label>
            </div>
            <button type="submit" class="btn btn-primary" id="ChangePasswd" onclick="updatePassword()">Módosítás</button>
        </div>
    </div>
</div>
<script src="../controllers/userCntrl.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (typeof getProfile === "function") getProfile();
  });
</script>





