<h3>Regisztráció</h3>
<br>
<form>
    <div class=" form-floating mb-3">
      
        <input type="text" class="form-control" id="Namefield" aria-describedby="emailHelp" placeholder="Name">
        <label for="Namefield"> Név</label>
       
    </div>
    <div class=" form-floating mb-3">
      
      <input type="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="E-mail">
      <label for="emailField"> E-mail</label>
     
    </div>
    <div class="form-floating mb-3">
      
      <input type="password" class="form-control" id="passwdField" placeholder="Password">
      <label for="passwdField"> Jelszó</label>
    </div>
    <div class="form-floating mb-3">
      
        <input type="password" class="form-control" id="confirmpasswdField" placeholder="Confirm Password">
        <label for="confirmpasswdField"> Jelszó megerősítése</label>
      </div>
    
    <button type="submit" class="btn btn-primary" id="regBtn" onclick="registration()">Regisztráció</button>
  </form>